<% provide(:title, "Edit user") %>
<% provide(:button_text, '更新する') %>

<h1 class="center">プロフィールを編集する</h1></br>

<div class="row"> <!--rowとcol~はbootstrapの一部-->
    <div class="col-md-6 col-md-offset-3">
        <%=render "update"%>
        <div class="center">
            ※パスワードを忘れたら<%= link_to "こちら","#" %>
            <br><%= link_to "アカウントを削除する",@user,method: :delete, data:{ confirm:"削除します、よろしいですか？"}%>
        </div>
    </div>
</div>