@import "bootstrap-sprockets";
@import "bootstrap";



/* universal *//*.を付けないと全ページ共通ってことか*/
body {
    color: #002222;
    #background-color: papayawhip;
    text-align: center;
    padding-top: 60px;
}
.center {
  text-align:center;
}
.right{
  text-align:right;
}

.left{
  text-align:left;
}

.flex{
  display:flex;
  margin:auto;
}

.serch_console{
  padding-top:25px;
}

.form{
  position: relative;
	width: 20%;
}

/* user_page*/
.slim200{
  width:200px;
  height:200px;
}


/*location_page*/
.info_index{
  padding-top: 3rem;
}

.inline_block_location{
  display: inline-block;
  padding-left:10px;
  vertical-align:middle;
}


/* toppage　*/

.back {
    background-size: cover;
    background-position:center 50%; 
    min-height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    padding-top: 4rem;
    background-image: url("camping-691424_1280.jpg");
}

.cover {
    z-index: 0;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:rgba(0,0,0,0.3);
}

.catch_copy {
    text-align: center;
    position: relative;
    padding-top: 10em;
    font-size: 1.5em;
    color: #fff;
}

.main_title {
    font-size: 70px;
}


.main_link{
    text-align: center;
    padding: 6rem 6rem;
    margin-top: 4rem; 
    top: 50px;

    .main_link_btn{
        display: inline;
        bottom: 2rem;
        font-size: 40px;
        padding: 0.5rem 2rem;
        margin-right:30px;
    }
}

/* header */

.fa {
  margin-right: 5px;
}

.header-right {
  float: right;
  margin-right: -25px;
}



#logo {
    float: left;
    font-size: 1.5em;
    color: #fff;
    text-transoform: uppercase;
    letter-spacing: -1px;
    padding-top: 9px;
    left: 10px;
}


/* forms */
input, textarea, select, .uneditable-input {
  border: 5px solid #bbb;
  width: 100%;
  margin-bottom: 25px;
}

input {
  height: auto !important;
}


/* error_messages */
#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.posts {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: $gray-light;
    display: block;
    margin-left: 60px;
  }
  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
}

/*maps*/
#map{
  height:400px;
  width:600px;
}

/*weather*/


/*
img{
    width: 300px;
}
*/

.container{
    padding-left: 20%;
    padding-right: 20%;
}
input {
    margin: 2%;
}

#submit{
    margin-left: 10px;
}

.bold{
    font-weight: bold;
    font-size: 1.5em;
}