<div class="back">
	<div class="cover">
		<div class="catch_copy">
			<h1 class="main_title">キャンプに行こう</h1>
			<h3>全国のキャンプ場と天気を紹介するサイトです</h3>
		</div>
		<div class="main_link">
			<a class="btn btn-default navbar-btn main_link_btn fa fa-list-ul" href="/index">一覧</a>
			<a class="btn btn-default navbar-btn main_link_btn fa fa-map-marker" href="#">地図</a>
		</div>
	</div>
</div>