<div class="container">
  <div class="center">
   <div class="inline_block_location">
    <a class="btn btn-default navbar-btn main_link_btn fa fa-upload" href=/sugest>追加</a>
   </div>
     <div class="inline_block_location">
      <form class="navbar-form" role="search" name="enter_search">
          <%= text_field_tag :search,"",class: 'form-control',placeholder: "どこへ行きますか？"%>
	     </form>
	 </div>
  </div>
    <h3>キャンプ場一覧</h3>
    <% @locations.each do |location| %>
     <div class="row info_index">
      <aside class="col-md-4 ">
       <div class="inline_block_location">
        <%=link_to image_tag(location.top_img.url ,size:"150x100"),"/locations/#{location.id}" if location.top_img? %></br>
       </div>
      </aside>
      <div class="col-md-8 left">
       <div class="inline_block_location">
        <h4><%= location.prefecture %></h4>
        <h4><%=link_to location.name,"/locations/#{location.id}"%></h4></br>
       </div>
      </div>
     </div>
    <% end %>
  </div>
</div>