<div class="container">
 <div class="center">
   <div class="panel panel-default">

	   <div class="panel-body">
      <form class="navbar-form" role="search" name="enter_search">
          <%= text_field_tag :search,"",class: 'form-control',placeholder: "どこへ行きますか？"%>
	     </form>
	   </div>
	   <div class="panel-footer">
	     <a class="box btn btn-primary navbar-btn main_link_btn fa fa-upload " href=/sugest>キャンプ場を追加する</a>
	   </div>
   </div>
 </div>
  <div class="row">
   <h3>キャンプ場一覧</h3>
   <% @locations.each do |location| %>
    <div class=" col-md-4">
     <div class="thumbnail">
      <div class="thumbnail_image">
       <%=link_to image_tag(location.top_img.url),"/locations/#{location.id}" if location.top_img? %>
        <div class="caption">
         <b><%=location.name%></b>
         <p>場所：<%=location.prefecture%></p>
        </div>
       </div>
      </div>
     </div>
    <%end%>
   </div>
  </div>
</div>