<h1 class="center">キャンプ場を追加する</h1>
    <div id='map' class="center-block"></div>
    <input id="address" type="text" class="form-control form center-block" placeholder="キャンプ場は？">
    <button class="center-block" type="submit" onclick="EncodeAddress()">検索</button>
    <div id="info" class="center"></div> <!--住所一括表記-->
    
<%= render "locations/form" %>

<!--消すべからず-->
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap" async defer></script>
