<div class="container">
	<div>
		<!--value =  location.postcode id = "postcode"-->
		<input id="postcode" type="text" class="form-control form center-block" placeholder="キャンプ場の郵便番号は？">
		<button type = "submit" class = "center-block" onclick="GetWeather">クリック</button>
	</div>
	<div class="WeatherInfo">
		<h2>天気</h2>
		<div><span id = "tenki" class = "bold"></span></div>
		<div><span id = "tenkiLogo" class="bold"></span></div>
		<div>最高気温<span id = "hightemp" class = "bold"></span>℃</div>
		<div>最低気温<span id = "lowtemp" class = "bold"></span>℃</div>
		<div>風速<span id = "wind" class = "bold"></span>メートル</div>
	</div>
</div>

<script>
//お天気情報の取得
function GetWeather(){
	let inputPostcode = document.getElementById("postcode").value;
	post("http://api.openweathermap.org/data/2.5/forecast?zip=inputPostcodeJP&APPID=<%= ENV['OWM_API_KEY'] %>&lang=ja&units=metric"),
		function(json){
			("#tenki").html(json.weather[0].description);
			("#hightemp").html(Math.round(json.main.temp));
                    //天気に応じた天気アイコンを表示させる
                    switch (json.weather[0].main){
                    case 'Clouds':
                    $("#tenkiLogo").html("<img src='http://openweathermap.org/img/w/04d.png' >");
                    break;
                    case 'Snow':
                    $("#tenkiLogo").html("<img src='http://openweathermap.org/img/w/13d.png' >");
                    break;
                    case 'Rain':
                    $("#tenkiLogo").html("<img src='http://openweathermap.org/img/w/09d.png' >");
                    break;
                    case 'Clear':
                    $("#tenkiLogo").html("<img src='http://openweathermap.org/img/w/01d.png' >");
                    break;
                    case 'Fog':
                    $("#tenkiLogo").html("<img src='http://openweathermap.org/img/w/50d.png' >");
                    break;
                    case 'Mist':
                    $("#tenkiLogo").html("<img src='http://openweathermap.org/img/w/50n.png' >");
                    break;
                    case 'Haze':
                    $("#tenkiLogo").html("<img src='http://openweathermap.org/img/w/50d.png' >");
                    break;
                    default:
                    $("#tenkiLogo").html("<img src='http://openweathermap.org/img/w/01n.png' >");
                }
            }
	});
});
	
</script>
<script src='https://use.fontawesome.com/releases/v5.0.13/js/all.js'></script>
