<p>■画像ファイルを選択してください。<br>
<input type="file" accept='image/*' multiple="multiple" onchange="loadImage(this);"></p>

<p id="preview"></p>

<style>
#preview img {
	width:100px;
	border:1px solid #cccccc;
}
</style>
<script>
function loadImage(obj)
{
 document.getElementById('preview').innerHTML = '<p>プレビュー</p>';
 for (i = 0; i < obj.files.length; i++) {
  var fileReader = new FileReader();
  fileReader.onload = (function (e) {
	document.getElementById('preview').innerHTML += '<img src="' + e.target.result + '">';
  });
  fileReader.readAsDataURL(obj.files[i]);
  }
}
</script>