<h1 class="center">キャンプ場を追加する</h1>
    <div id='map' class="center-block"></div>
    <input id="address" type="text" class="form-control form center-block" placeholder="キャンプ場は？">
    <button class="center-block" type="submit" onclick="EncodeAddress()">検索</button>
    <div id="info" class="center"></div>
    <div id="info_detail" class="center"></div>

<script>
let map
let geocoder
//Map出力
function initMap(){
  geocoder = new google.maps.Geocoder() // geocodingしたあとmapを移動
    
  map = new google.maps.Map(document.getElementById('map'), {
  center: {lat: 35.6804, lng: 139.769017},
  zoom: 8
  });
}
//位置検索・特定
function EncodeAddress(){
    let inputAddress = document.getElementById('address').value; //検索欄の入力値
    geocoder.geocode({'address':inputAddress},function(results, status){ //geocodingしたらmapを移動
        if(status=='OK'){
          //地図移動
          map.setCenter(results[0].geometry.location);
          //マーカーの生成
          var marker = new google.maps.Marker({
          	position: results[0].geometry.location,
          	map: map,
          	title: results[0].formatted_address,
          	animation: google.maps.Animation.DROP
        });
        
        //住所情報の取得
        var address = results[0].formatted_address;
        var location_name = results[0].address_components[0].long_name;
        var pref = results[0].address_components[5].long_name;
        var postal_code = results[0].address_components[7].long_name;
        document.getElementById("info").innerHTML = address;
        document.getElementById("info_detail").innerHTML = location_name;
        
        //情報ウィンドウの生成
        var infoWindow = new google.maps.InfoWindow({
          content:  results[0].formatted_address,
          pixelOffset: new google.maps.Size(0, 5)
        });
 
        //マーカーにリスナーを設定
        marker.addListener('click', function(){
          infoWindow.open(map, marker);
        });
        
        //情報ウィンドウリスナーを設定
        infoWindow.addListener('closeclick', function(){
          marker.setMap(null);  //マーカーを削除
        });
        
      }else if(status === 'ZERO_RESULTS') {
        alert('不明なアドレスです： ' + status);
        return;
      }else{
        alert('失敗しました： ' + status);
        return;
      }
    });
}

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap" async defer></script>